@charset "UTF-8";

// http://paletton.com/#uid=33i0u0k2ljc6hnI3vhb50fr6wdx

html, body {
    color: white;
    background: #151818;
    font-size: 12pt;
    font-family: sans-serif;
}

.gallery {
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: auto;
  margin-right: auto;
  /*width: 800px;*/
  width: 70%;
  background: #393631;
  padding: 1ex;
  width: 945px;
  border-radius: 8px;
}

h1 {
  margin-top: 0px;
}

.gallery .displayer {
  text-align: center;
}

.gallery .header {
  margin-bottom: 2ex;
  color: #99958e;
}

.gallery .header h1 {
  font-size: 125%;
}

.gallery .header div {
  line-height: 125%;
}

.gallery .header a[href] {
  border: 0;
  text-decoration: none;
  background: #77777f;
  padding: .4ex;
  font-weight: bold;
  font-size: 75%;
  color: #cccccc;
  border-radius: 1ex;
}

.gallery .header a[href].current {
  color: #f0a080;
}

.gallery .header a[href]:hover {
  background: #ff6c00;
}

.gallery .info {
  text-align: center;
  color: black;
  font-size: 75%;
}

.gallery .info #metadata {
  font-size: 75%;
}

.scroll {
  overflow: hidden;
}

.scrollable {
  margin-top: 0;

  white-space: nowrap;
  padding: 0;

  float: left;
}

.scrollable img {
  margin: 0;
  padding: 0;
  opacity: 0.4;
}

.scrollable img:hover {
  opacity: 1.0;
}

.displayer {
  padding: 0;
}


.histogram {
  border: 1px solid red;
}
.histogram rect {
  fill: steelblue;
}
.histogram rect:hover {
  fill: grey;
}
.histogram text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.badtip {
  position: absolute;
  text-align: center;
  width: 6em;
  height: 2ex;
  padding: 2px;
  font: 12px sans-serif;
  background: lightgrey;
  border-radius: 0px;
  pointer-events: none;
}

#dates {
  //border: 1px solid green;
  position: relative;
}

.date-selector {
  background: #504d48;
}

.month-tick {
  //border: 1px solid #807;
}

.month-box {
  fill: #423d3a;
  cursor: pointer;
}

.month-label {
  fill: #99958e;
  font-size: 10pt;
  cursor: pointer;
  font-variant: small-caps;
}

.month-slice {
  fill: none;
  cursor: pointer;
  z-index: 0;
}

.month-tick:hover .month-box {
  fill: #d3c6c6;
}

.month-tick:hover .month-label {
  fill: #a07d7d;
  font-weight: bold;
}

.month-tick:hover .month-slice {
  fill: #423a3a;
  z-index: 0;
}

.month-hist-box {
  fill: #5b7171;
  cursor: pointer;
}

.month-tick:hover .month-hist-box {
  fill: #ced6d6;
}

.year-label {
  font-size: 10pt;
  font-weight: bold;
  fill: #99958e;
  z-index: 10;
}
