## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Olivier Lucas Juan Tlapale Stalder</title>
    <link href="oltos.css" type="text/css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="js/oltos.js"></script>
    <script type="text/javascript">
      var medias = [
        % for img in images:
          {
            name:     "${img['name']}",
            datetime: "${img['exif']['DateTimeOriginal']}",
            width:    "${img['thumb_width']}",
            type:     "${img['type']}"
          },
        % endfor
      ];
    </script>
  </head>
  <body>
    <div class="gallery">
      <div class="header">
	<h1>Olivier Lucas Juan Tlapale Stalder</h1>
	<div>
        <%
         last_i = None
         %>
	% for i in monthes:
          <%
            break_line = False
            if last_i:
	      if i[:4] != last_i[:4]:
                break_line = True
	    last_i = i
           %>
          % if break_line:
              <br />
          % endif
	  % if i == last:
	      <a ${'class="current"' if i == current else ""} href="index.html">${i}</a>
	  % else:
	      <a ${'class="current"' if i == current else ""} href="${i}.html">${i}</a>
	  % endif
	% endfor
	</div>
      </div>

      <div class="displayer">
	<a id="prevlink" href="${media_dir}/${images[first]['name']}"><img id="preview" src="${preview_dir}/${images[first]['name']}" /></a>
      </div>

      <div class="info">
        <strong id="name">${images[first]['name']}</strong>
        <p id="metadata">${images[first]['exif']['DateTime']}</p>
        <p id="debug"></p>
      </div>

      <div class="scroll">
	<div class="scrollable"><!--
	% for (i,img) in enumerate(images):
--><img src="${thumb_dir}/${img['name']}" width="${img['thumb_width']}" height="${img['thumb_height']}" alt="${img['name']}" id="thumb-${i}" onclick="mypreview(${i});" /><!--
	% endfor
        --></div>
      </div>
    </div>
  </body>
</html>
