@charset "UTF-8";

html, body {
    color: white;
    background: #222228;
    font-size: 12pt;
    font-family: sans-serif;
}

.gallery {
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: auto;
  margin-right: auto;
  /*width: 800px;*/
  width: 70%;
  background: #cccccc;
  padding: 1ex;
  width: 945px;
}

.gallery .displayer {
  text-align: center;
}

.gallery .header {
  margin-bottom: 2ex;
  color: #222222;
}

.gallery .header h1 {
  font-size: 125%;
}

.gallery .header a[href] {
  border: 0;
  text-decoration: none;
  background: #77777f;
  padding: .4ex;
  font-weight: bold;
  font-size: 75%;
  color: #cccccc;
  border-radius: 1ex;
}

.gallery .header a[href].current {
  color: #f0a080;
}

.gallery .header a[href]:hover {
  background: #ff6c00;
}

.gallery .info {
  text-align: center;
  color: black;
  font-size: 75%;
}

.gallery .info #metadata {
  font-size: 75%;
}

.scroll {
  overflow: hidden;
}

.scrollable {
  margin-top: 0;

  white-space: nowrap;
  padding: 0;

  float: left;
}

.scrollable img {
  margin: 0;
  padding: 0;
  opacity: 0.4;
}

.scrollable img:hover {
  opacity: 1.0;
}

.displayer {
  padding: 0;
}
