@import url("font-awesome.min.css");


html, body {
    color: #c3bcae;
    background: #151818;
    font-size: 12pt;
    font-family: sans-serif;
}

.gallery {
    margin-top: 2ex;
    margin-bottom: 2ex;
    margin-left: auto;
    margin-right: auto;
    /*width: 800px;*/
    width: 70%;
    background: #393631;
    padding: 1ex;
    width: 1100px;
    border-radius: 8px;
    text-align: center;
}

.gallery h1 {
    margin-top: 0px;
    font-size: 125%;
}

.year-nav {
    cursor: pointer;
}

.preview {
    text-align: center;
    margin-top: 1.5ex;
}

.medium-nav, .hist-nav {
    font-size: 200%;
    cursor: pointer;
    padding-left: .3em;
    padding-right: .3em;
    border-radius: 1.5ex;
}

.hist-nav:hover {
    color: white;
    background: #503d48;
}

.selector {
    white-space: nowrap;
}

.month-selector {
    background: #504d48;
}

month-selector div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.month-box {
    fill: #423d3a;
    cursor: pointer;
}

.month-label {
    fill: #c3bcae;
    font-size: 10pt;
    cursor: pointer;
    font-variant: small-caps;
}

.month-slice {
  fill: none;
  cursor: pointer;
  z-index: 0;
}

.month-tick:hover .month-slice {
  fill: #423a3a;
  z-index: 0;
}

.month-tick:hover .month-box {
  fill: #d3c6c6;
}

.month-tick:hover .month-label {
  fill: #a07d7d;
  font-weight: bold;
}

.month-tick:hover .month-slice {
  fill: #423a3a;
  z-index: 0;
}

.month-hist-box {
  fill: #5b7171;
  cursor: pointer;
}

.month-tick:hover .month-hist-box {
  fill: #ced6d6;
}

.month-tick .year-label {
    font-size: 10pt;
    font-weight: bold;
    fill: #c3bcae;
    z-index: 10;
    cursor:pointer
}

a[href] {
    color: #bd9898;
}