<div class="preview">
  <!-- Media preview -->
  <img ng-src="preview/{{media[currentIndex].name}}"
       ng-click="next()"/>

  <!-- Media metadata -->
  <div>
    {{currentIndex+1}} / {{media.length}}
    {{media[currentIndex].name}}
    {{media[currentIndex].date | date:'yyyy-MM-dd
    hh:mm:ss'}}
    <a ng-href="media/{{media[currentIndex].name}}">
      <span class="fa fa-download"></span>
    </a>
  </div>
  
</div>

<!-- Navigator -->
<div class="nav-arrows">
  <a class="medium-nav" ng-click="prev()">
    <span class="fa fa-angle-left"></span>
  </a>
  <a class="medium-nav" ng-click="next()">
    <span class="fa fa-angle-right"></span>
  </a>
</div>

<!-- Media selector -->
<div class="selector">
  <img ng-repeat="medium in media"
       ng-src="thumbs/{{medium.name}}"
       ng-click="mediaSelected(medium)"
       alt="{{medium.name}}" />
</div>
